
/* BASE LAYOUT */
h1 {
  display: none;
}
div#content-wrapper {
  margin-top: 40px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: #700407;
}

/* TITLES */
div#content-wrapper h2 {
  border-bottom: 1px solid #bbb;
}
div#content-wrapper h2 a {
  color: inherit;
}
div#content-wrapper h3 {
  padding-left: 30px;
  background: url('/img/bg-h3-arrow.png') no-repeat left center;
}

/* ALIGNMENTS UTILITIES */
.text-vcenter {
  vertical-align: middle;
}

/* LABELS */
.label-has-nested {
  display:inline-block;
}
.label-has-nested .label {
  display:inline-block;
  margin-top: 2px;
  margin-left: -2px;
  margin-right: -2px;
  font-size: 1em;
}


/* BLOG PAGE */
div.blog-date .day {
  font-size: 2em;
  padding-right: 4px;
}
div.blog-date .day,
div.blog-date .month.year {
  vertical-align: middle;
}
div.blog-date .label .label.month.year {
  text-align: right;
}

