---
layout: default
title: Accueil
---
<div class="row">

  <section class="span8">
    {% for post in site.posts %}
      {% if post.layout == 'post' %}

    <article>
      <div class="pull-right blog-date">
        <span class="label label-inverse">
          <span class="day">{{ post.date | date: "%d" }}</span>
          <span class="label label-white month year">
            {{ post.date | date: "%B" }}
            <br/>
            {{ post.date | date: "%Y" }}
          </span>
        </span>
      </div>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="well well-small">
        {{ post.content }}
      </div>
    </article>

      {% endif %}
    {% endfor %}
  </section>

  <section class="span4">
    <h2>Développement Web</h2>
    <p>Développement de site web, intégration de gestionnaire de contenus</p>

    <h2>Développement Java</h2>
    <p>3 ans d'expérience dans le développement Java/JEE</p>

    <h2>Android</h2>
    <p>Expérience en développement mobile Android : ItinéRennes</p>
  </section>

</div>
