---
layout: default
title: Blog /Jérémie Huchet
---
<div class="row">

  <section class="col-md-8">
    {% for post in site.posts %}
      {% if post.layout == 'post' %}

    <article>
      <div class="pull-right blog-date">
        <span class="label label-inverse label-has-nested">
          <span class="day">{{ post.date | date: "%d" }}</span>
          <span class="label label-white month year">
            {{ post.date | date: "%B" }}
            <br/>
            {{ post.date | date: "%Y" }}
          </span>
        </span>
      </div>
      <h2><a id="{{ post.id }}" href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="well well-sm">
        {{ post.content }}
      </div>
    </article>

      {% endif %}
    {% endfor %}
  </section>

  <section class="col-md-4">
    <h2>Développement Web</h2>
    <p>Développement de site web, intégration de gestionnaire de contenus</p>

    <h2>Développement Java</h2>
    <p>4 ans d'expérience dans le développement Java/JEE</p>

    <h2>Android</h2>
    <p>Expérience en développement mobile Android : ItinéRennes</p>

    <h2>Articles</h2>
    <ul>
     {% for post in site.posts %}
      {% if post.layout == 'post' %}

      <li><a href="#{{ post.id }}">{{ post.title }}</a></li>

      {% endif %}
    {% endfor %}
    </ul>
  </section>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

</div>
