---
layout: base
---
<div class="container">
  <div class="row">
    <section class="col-md-8">
      <article>
        <h2>{{ page.title }}</h2>
        <div class="thumbnail pull-right" style="background-color: white; margin: 10px 10px 0 0;">
          <img src="{{ page.url }}/logo.png" />
        </div>
        <div class="well">
          {{ content }}
          <p>
            {% for button in page.buttons %}
            <a href="{{ button.href }}" class="btn btn-small" title="{{ button.title }}">{{ button.label }}</a>
            {% endfor %}
          </p>
          <p>
            {% for skill in page.skills %}
            <span class="label">{{ skill }}</span>
            {% endfor %}
          </p>
        </div>
      </article>
    </section>
    <section class="col-md-4">
      <h2>Autres projets</h2>

      {% for post in site.posts %}
      {% if post.layout == 'portfolio' %}
      {% if post.url != page.url %}

        <article class="well well-sm">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{ post.abstract }}</p>
        </article>

        {% endif %}
      {% endif %}
      {% endfor %}
    </section>
  </div>
</div>
